databases:
  - name: budget_app_production
    plan: free
    databaseName: budget_app_production
    user: budget_app

services:
  - type: web
    plan: free
    name: budget
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: budget_app_production
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false