<div class="w-[85%] mx-auto h-screen flex flex-col relative">
  <h1 class="h-full text-center text-3xl font-bold italic pt-44">BUDGET APP</h1>
  <div class="absolute bottom-0 flex flex-col items-center w-full uppercase">
    <%= link_to "Log In", new_user_session_path, class: "bg-cyan-blue w-full text-center text-white py-4 rounded" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "py-4 mb-6 text-black-coral" %>
  </div>
</div>
